@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

aside h2 {
    font-weight: bolder; /* Makes only the header bold */
	font-family:'Rakkas', cursive;
	font-size: 160%;
}

aside {
	
	width: 250px; /* Fixed width for aside */
    padding: 10px;
    font-family: 'Sanchez', serif; 

}


footer {

	text-align: left;
    color: black;
    font-family: 'Sanchez', serif;
    position: relative;
    bottom: 0;
    width: 100%;
}

header {
	position: relative;
    top: 0;
    left: 0;
    color: black;
    font-family: 'Rakkas', cursive; /* Rakkas font for header */
}


img {
	max-width: 100%;
}

main {
	flex: 1; /* Take up remaining space */
    margin-right: 20px; /* Space between main and aside */
    font-family: 'Sanchez', serif;
}

nav {
	width: 300px; /* Fixed width for navigation */
    font-family: 'Sanchez', serif;
}

#copyright {
	font-size: 80%;
}

#main-container {
    display: flex;
    margin: 20px;
}